// COLOR VARIABLES
$color-background-night: #28353e;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  //font-family: "Poppins", sans-serif;
  //font-weight: 5; inutile?!?
  font-family: sans-serif;
  overflow: hidden;
  /////previeni highlight
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container {
  position: relative;

  // height: 10%; //altezza del container dall'alto inutile???????
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // height: 100%; //altezza dei primi 3 buttoni nel container
}

.counter {
  // height: 10%;  inutile???
  color: whitesmoke;
}

.btn {
  text-decoration: none;
  padding: 1rem 2rem;
  // font-size: 0.25rem; inutile?
  position: relative;
  margin: 1rem;
}

.btn-2 {
  color: whitesmoke;
}

.btn-2::after,
.btn-2::before {
  border: 0.1rem solid whitesmoke;
  content: "";
  position: absolute;
  width: calc(100% - 0.1rem);
  height: calc(100% - 0.1rem);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}
.btn-2:hover::after {
  transform: translate(-0.2rem, -0.2rem);
}
.btn-2:hover::before {
  transform: translate(0.2rem, 0.2rem);
}

#sky {
  background: -webkit-linear-gradient(#0e1f27 30%, #123243);
  background: -moz-linear-gradient(#1a2e38 30%, #24495d);
  background: -o-linear-gradient(#1a2e38 30%, #24495d);
  background: linear-gradient(#19303d 30%, #1d3540);
}

.switch-button {
  margin: 1rem;
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: $color-background-night;
  position: relative;
  padding-right: 120px;
  position: relative;

  &:before {
    content: "Auto";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch-button-label:before {
      transform: translateX(120px);
      transition: transform 300ms linear;
    }

    & + .switch-button-label {
      position: relative;
      padding: 15px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: "";
        background: whitesmoke;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}
