// COLOR VARIABLES
$color-background-night: #28353e;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 100%;
}
body {
  box-sizing: border-box;
  background-color: $color-background-night;
  height: 100vh;
}
