.designArea {
  height: 100%;
  width: 100%;
  margin: 0 auto;

  background-image: url("/assets/img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
}
.act {
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#divcmd {
  position: absolute;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
